{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
  <h2>📖 Acerca de Librería De la Rosa🌹</h2>
  <p>
    La <strong>Librería De la Rosa</strong> es un sistema de gestión pensado para
    organizar y administrar libros de manera sencilla. Aquí puedes:
  </p>
  <ul>
    <li>Registrar nuevos libros 📘</li>
    <li>Actualizar información existente ✏️</li>
    <li>Eliminar ejemplares innecesarios 🗑️</li>
    <li>Buscar títulos de forma rápida 🔍</li>
  </ul>
  <p>
    Nuestro objetivo es brindar a los usuarios una experiencia eficiente en la
    administración de inventarios literarios.
  </p>
</div>

{% endblock %}
