{% extends "base.html" %}

{% block content %}

<h2>{% if producto %}✏️ Actualizar libro{% else %}➕ Añadir libro{% endif %}</h2>

<form method="post">

  <!-- ID: solo editable si es nuevo, si es edición lo mostramos oculto -->
  {% if producto %}
    <input type="hidden" name="id" value="{{ producto.id }}">
  {% else %}
    <div class="mb-3">
      <label>ID</label>
      <input class="form-control" name="id" type="number" required>
    </div>
  {% endif %}

  <div class="mb-3">
    <label>Título</label>
    <input class="form-control" name="titulo" required value="{{ producto.titulo if producto else '' }}">
  </div>

  <div class="mb-3">
    <label>Autor</label>
    <input class="form-control" name="autor" required value="{{ producto.autor if producto else '' }}">
  </div>

  <div class="mb-3">
    <label>Categoría</label>
    <input class="form-control" name="categoria" required value="{{ producto.categoria if producto else '' }}">
  </div>

  <div class="mb-3">
    <label>Cantidad</label>
    <input class="form-control" name="cantidad" type="number" required value="{{ producto.cantidad if producto else '' }}">
  </div>

  <div class="mb-3">
    <label>Precio</label>
    <input class="form-control" name="precio" type="number" step="0.01" required value="{{ producto.precio if producto else '' }}">
  </div>

  <button class="btn btn-success" type="submit">
    {% if producto %}Actualizar{% else %}Guardar{% endif %}
  </button>

</form>

{% endblock %}

