{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>➕Añadir Libro </h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo" required>
        </div>
        <div class="mb-3">
            <label for="autor" class="form-label">Autor</label>
            <input type="text" class="form-control" name="autor" required>
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoría</label>
            <input type="text" class="form-control" name="categoria">
        </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" name="cantidad" min="0" required>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" name="precio" step="0.01" min="0" required>
        </div>
        <div class="mb-3">
            <label for="portada" class="form-label">Portada</label>
            <input type="file" class="form-control" name="portada" accept="image/*">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{{ url_for('inventario_view') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}


