{% extends "base.html" %}
{% block content %}

<!-- Contenedor centrado para la bienvenida -->
<div class="text-center mt-5">

  <!-- Título principal de la página de bienvenida -->
  <h1>📚 Bienvenido a Librería De la Rosa🌹</h1>

  <!-- Subtítulo o descripción de la página -->
  <p class="lead">Tu espacio para gestionar libros, autores y categorías.</p>

  <!-- Botón al inventario -->
  <a href="{{ url_for('inventario_view') }}" class="btn btn-primary btn-lg mt-3">
    Ver Inventario 📖
  </a>

  
{% endblock %}



