# Byte-compiled / cache
__pycache__/
*.pyc

# Archivos de datos locales
datos/*.txt
datos/*.json
datos/*.csv

# Base de datos SQLite local
database/*.db

# Entornos virtuales
venv/
.env

# Archivos de sistema
.DS_Store
